body{
    margin: 0 auto;
    font-family: PT Sans Narrow;

    line-height: 25px;
    letter-spacing: 2px;
}

.container {
    margin: 0 auto;
    width: 375px;
}

.container2 {
    margin: 0 auto;
    width: 575px;
    height: 300px;
}

h2{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0;
    font-family: Playfair Display;
}

header {
    padding-top: 85px;
   
    text-align: center;
    height: 450px ;
}

.fon {
    background-color: rgba(158, 140, 108, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}


.fon2 {
    background-color: rgba(158, 140, 108, 0.1);
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0 100%);
}

header div {
    text-align: center;
}

.img-1 {
    width: 200px;
    height: 200px;
}

.img-2 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -68px;
    margin-top: -35px;
}

.head p {
    text-transform: uppercase;
    color: rgba(158, 140, 108, 1);
    font-weight: 600;
}

.head h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 39px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: Playfair Display;
}

.head a{
    background-color: rgba(6, 153, 166, 1);
    color: white;
    text-decoration: none;
    font-family: PT Sans Narrow;;
    padding: 20px 40px;
    line-height: 23px;
    letter-spacing: 1px;
    font-weight: 500;
}

main div {
    padding: 0 20px;
}

main p {
    font-family: PT Sans Narrow;
    letter-spacing: 0;
}

.blue-block,
.blue-block2 {
    background-color: rgba(6, 153, 166, 1);
    width: 15px;
    height: 10px;
    margin-top: 57px;
    margin-bottom: 57px;
}

.bl1,
.bl2 {
    padding: 0;
}

.yel-text {
    color: rgba(158, 140, 108, 1);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
}

.month-text{
   margin-top: 10px;
}

.yel-text-2{
    color: rgba(158, 140, 108, 1);
    text-transform: uppercase;
    font-weight: 600;
}

.features h3{
    text-transform: uppercase;
    color: rgba(158, 140, 108, 1);
    font-size: 18px;
    margin-top: 50px;
}

.features p{
    line-height: 27px;
    font-weight: 500;
}

.features a{
    text-decoration: none;
    font-weight: 700;
    color: rgba(6, 153, 166, 1);
    line-height: 23px;
    letter-spacing: 0;
}

footer {
    text-align: center;
    height: 250px ;
}

.get {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0;
    font-family: Playfair Display;
    padding-top: 100px;
    margin-bottom: 0;
}

.times {
    padding: 0;
}

.times2,
.times-fr {
        padding: 0;
}

.mail {
    font-family: Playfair Display;
    text-transform: lowercase;
    color: rgba(6, 153, 166, 1);
    line-height: 23px;
    letter-spacing: 0;
    font-size: 26px;
    font-weight: 900;
    padding: 20px 0 0 0;
}

.mail2 {
    display: none;
    padding: 0;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media (min-width: 768px) {
    .container {
        width: 520px;
    }


    .fon {
        height: 600px;
    }

    .head h1 {
        font-size: 80px;
        font-weight: 800;
        line-height: 39px;
        margin-top: 0px;
        margin-bottom: 50px;
        font-family: Playfair Display;
        line-height: 65px;
    }

    .get {
        font-size: 50px;
    }

    .mail2 {
        display: none;
    }

}

@media (min-width: 1440px) {
    .container {
        width: 900px;
    }

    .container2 {
        width: 900px;
    }

    .fon {
        height: 530px;
    }

    .fon2 {
        height: 330px;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }

    .head h1 {
        font-size: 100px;
        font-weight: 800;
        line-height: 39px;
        margin-top: 0px;
        margin-bottom: 50px;
        font-family: Playfair Display;
        line-height: 80px;
    }

    .sec-bl {
        text-align: left;
    }

    .img-1 {
        width: 300px;
        height: 300px;
    }

    .img-2 {
        width: 120px;
        height: 120px;
        position: absolute;
        margin-left: -90px;
        margin-top: 210px;
    }

    .mainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
    }

    .about {
        width: 500px;
        padding: 0;
        gap: 260px;
    }

    .features {
        width: 270px;
        padding: 0;
    }

    .bl2 {
        margin-top: 103px;
    }

    .features h3 {
        margin: 0;
    }

    .bl1 {
        margin-top: 35px;
    }

    .blue-block2 {
        display: none;
    }

    .yel-text,
    .yel-text-2,
    .month-text{
        margin: 0;
    }

    .times {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 0;
    }

    .times-fr {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }

    .times2 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }

    .get {
        font-size: 60px;
        padding-top: 120px;
    }

    .mail {
        display: none;
    }

    .mail2 {
        display: flex;
        justify-content: center;
        width: 0 auto;
        font-family: Playfair Display;
        text-transform: lowercase;
        color: rgba(6, 153, 166, 1);
        line-height: 23px;
        letter-spacing: 0;
        font-size: 26px;
        font-weight: 900;
        margin: 0;
        padding: 50px 0;
    }
    
}

